

/*.ul-nopoint {
  padding-top: 94px;
  padding-bottom: 94px;
}*/
.loor {
  list-style: none;
  display: flex;
  margin: inherit;
  align-items: center;
}


.footer-font {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
}


.button {
  color: var(--main-black);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  background-color: var(--second-white);
  cursor: pointer;
  margin-right: 8px;
  padding: 6px 22px;
  border: none;
  border-radius: 4%;
}
.button:hover {
  background-color: var(--main-blue);
  color: var(--main-white);
  cursor: pointer;
  transition: all var(--transition-timing);
  color: var(--main-white);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  
  transition: var(--transition-timing);
}
.h2-class {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 50px;
}
.h3-class {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
  margin-top: 0;
}
.text-lorem {
  color: var(--main-silver);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  width: 270px;
  height: 75px;
  text-align: justify;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 30px;
  letter-spacing: 0.03em;
  margin-right: 0px;
}
.figcaption-strong-studio {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  color: var(--main-black);
}
.figcaption-p-studio {
  color: var(--main-silver);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  padding-bottom: 30px;
  margin-bottom: 0px;
  margin-top: 10px;
}
.figcaption-strong-portfolio {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}
.figcaption-p-portfolio {
  color: var(--main-silver);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  margin-top: 4px;
  margin-bottom: 0px;
}
.footer {
  background-color: var(--background-grey);
  height: 252px;
}
.logo-color-footer {
  color: var(--main-white);
}
.addres-color {
  color: var(--main-white);
  font-style: normal;
}
.link-footer {
  color: var(--white-transparent);
  text-decoration: none;
}
.link-footer:hover {
  color: var(--main-blue);
  cursor: pointer;
  transition: var(--transition-timing);
}

.background-team {
  background-color: var(--second-white);
  padding-top: 94px;
  padding-bottom: 94px;
}









.lorem-cointainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 94px;
}
.lorem-flex {
  display: flex;
  margin: inherit;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding-left: 0px;
}

/*section {
  padding-top: 94px;
  padding-bottom: 94px;
}*/
.presentation-flex {
  display: flex;
  margin: inherit;
  align-items: center;
  list-style: none;
  padding-left: 0px;
  gap: 30px;
}

.presentation-padding {
  padding-block: 94px;
}
.figure {
  margin: 0;
  background-color: var(--main-white);
  margin-right: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.figbot {
  background-color: var(--main-white);
  text-align: center;
  padding-top: 30px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.footer-logo-padding {
  padding-bottom: 20px;
}
.footer-contact {
  margin: 0;
  padding-left: 0;
}

.portfolio-buttons {
  display: flex;
  margin: inherit;
  align-items: center;
  padding-left: 295px;
  list-style: none;
  padding-bottom: 50px;
}
.section-portfolio-padding {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section-photo {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  list-style: none;
  margin: 0;
  padding-left: 0;
}
.portfolio-photo-flex {
  flex-basis: calc((100% - 60px) / 3);
  background: var(--main-white);
  border: 1px solid var(--shadow-white);
}
.figure-photo-portfolio {
  background: var(--main-white);
  border: 1px solid var(--shadow-white);
  margin: 0 auto;
}
.figure-photo-portfolio:hover {
  cursor: pointer;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  transition: var(--transition-timing);
}
.image-width {
  width: 100%;
  vertical-align: top;
}
.portfolio-figcaption-padding {
  padding: 20px 24px;
}
.footer-li-margin-bot {
  margin-bottom: 9px;
}
.icon {
  text-decoration: none;
  border-style: none;
  background-color: var(--main-white);
  vertical-align: text-bottom;

  margin-right: 10px;
  width: 16px;
  height: 16px;
  fill: var(--main-silver);
  stroke: var(--main-silver);
  color: var(--main-silver);
}
.icon-svg:hover {
  fill: var(--main-blue);
  
  transition: var(--transition-timing);
  cursor: pointer;
}
.lorem-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--second-white);
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
}

.social-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  padding-bottom: 30px;
}
.social-links-style {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: var(--social-grey);
}
/*.test3 {
  fill: var(--main-blue);
}*/

.social-links-style:hover {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: var(--second-white);
  background: var(--main-blue);
  cursor: pointer;
 
  transition: var(--transition-timing);
}
.section-padding {
  padding-block: 94px;
}
.customers {
  display: flex;
  flex-direction: row;
  gap: 30px;
  padding-left: 0;
  margin-block: 0;
}
.customers-logo {
  width: 170px;
  height: 92px;

  border-radius: 4px;
  fill: var(--social-grey);
  border-radius: 4px;
  outline: 1px solid var(--social-grey);
}
.customers-logo:hover {
  fill: var(--main-blue);
  
  transition: var(--transition-timing);
  outline-color: var(--main-blue);
  cursor: pointer;
}

.h4-class-footer {
  letter-spacing: 0.03em;
  color: var(--main-white);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  margin-top: 0px;
  margin-bottom: 20px;
}
.joinus-footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.flix {
  display: flex;
  padding-top: 60px;
}
.kontakt {
  margin-right: 70px;
}
.social-links-footer {
  background: rgba(255, 255, 255, 0.1);
  fill: var(--main-white);
}
.agencja-active {
  position: relative;
}
.agencja-active::after {
  content: "";
  position: absolute;

  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: var(--main-blue);
  bottom: -32px;
  left: 0;
}

.portfolio-active::after {
  content: "";
  position: absolute;

  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: var(--main-blue);
  bottom: -32px;
  left: 0;
}
.presentation-info {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--main-white);
}
.presentation-background {
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.presentation-block {
  position: relative;
  height: 294px;
}
.backdrop {
  position: fixed;
  display: flex;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  transition: transform var(--transition-timing),
    opacity var(--transition-timing);
}
.is-hidden {
  transform: scale(0.5);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal {
  width: 528px;
  height: fit-content;
  background: var(--main-white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  transform: scale(1);
  transition: transform var(--transition-timing),
    opacity var(--transition-timing);
}
.modal-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: var(--main-white);
  border: 1px solid rgba(0, 0, 0, 0.1);
  position: absolute;
  right: 8px;
  top: 8px;
}
.overlay-box {
  position: relative;
  overflow: hidden;
}
.portfolio-photo-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
}
.portfolio-text-overlay {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1, 55;
  letter-spacing: 0.03em;
  color: var(--main-white);
  padding-top: 49px;
  padding-bottom: 49px;
  padding-left: 24px;
  padding-right: 45px;
}
.figure-photo-portfolio:hover .portfolio-photo-overlay {
  transform: translate(0%, -100%);
  transition: var(--transition-timing);
  background: var(--main-blue);
  height: 101%;
  width: 101%;
}
.email-sub {
  display: flex;
  flex-direction: column;
  margin-left: 70px;
  width: 570px;
  /*background-color: #ececec;*/
}
.join-newsletter {
  color: var(--main-white);
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  margin-top: 0px;
}
.subscribe-footer {
  display: flex;
  gap: 12px;
  /*background-color: red;*/
}
.footer-newsletter-placeholder {
  box-sizing: border-box;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: var(--background-grey);
  padding: 14px 16px;
  outline: none;
  color: var(--main-white);
  line-height: 1.25;
  font-size: 16px;
  letter-spacing: 0.03em;
 
}
.button-footer-sub {
  background: var(--main-blue);
  box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
  min-width: 200px;
  height: 50px;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--main-white);
  border: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.footer-button-icon {
  margin-left: 24px;
  fill: var(--main-white);
}

.modal-style {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  margin-bottom: 40px;
}
.modal-title {
  font-weight: 700;
  display: block;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0px;
  padding-top: 20px;
  margin-top: 0px;
    padding-top: 30px;
}
.input-content {
  display: block;
  position: relative;
  margin-top: 4px;
}
.input-content-comment {
  display: block;
  position: relative;
  margin-top: 4px;
  height: 120px;
}
.label-content {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--main-silver);
  width: 448px;;
}
input {
  height: 40px;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  padding: 13px 42px;
  font-size: 12px;
  transition: border-color var(--transition-timing);
}
.form-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 14px;
  pointer-events: none;
  transition: fill var(--transition-timing);
}
.modal-textarea {
  width: 100%;
    height: 120px;
    padding: 12px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;
    resize: none;
    font-size: 12px;
    letter-spacing: 0.01em;
    line-height: 1.16;
    transition: border-color var(--transition-timing);
}
.label-modal-check {
  display: flex;
  align-items: flex-start;
  margin: auto;
}
.modal-check-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 15px;
  border-radius: 2px;
  margin-right: 8px;
  cursor: pointer;
  transform: translateY(13px);
  border: solid 2px var(--main-black);
  transition-property: background-color, border-color;
 
  transition-timing-function: var(--transition-timing);
}
input:checked + span {
  background-color: var(--main-blue);
  border-color: var(--main-blue);
}
.modal-submit {
  background: var(--main-blue);
  box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
  width: 200px;
  height: 50px;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--main-white);
  border: 0px;
  align-items: center;
  justify-content: center;
  margin: auto;
  cursor: pointer;
}
 p > a {
  
  color: var(--main-blue);
}
input:focus {
  border-color: var(--main-blue);
}
textarea:focus {
  border-color: var(--main-blue);
}
 input:focus + svg {
  fill: var(--main-blue);
}
.modal-statute {
  font-size: 14px;
  color: var(--main-silver);
  letter-spacing: 0.03em;
}
.footer-newsletter-placeholder:focus {
border: 1px solid rgba(255, 255, 255, 0.3);
}